
.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit{
    opacity: 1;
}

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}
.text-divider{
    margin: 2em 0;
    line-height: 0; 
    text-align: center;
}
.text-divider span{
    background-color: #fff; 
    padding: 1em;
    font-size:0.9rem;
    color: #bdb9b9;
}

.text-divider:before{ 
    content: " "; 
    display: block; 
    border-top: 1px solid #e3e3e3; 
    border-bottom: 1px solid #f7f7f7;
}
.App {
    font-family: sans-serif;
  }
  
  .footer {
    background-color: black;
    color: white; 
    padding: 5em;
  }
  .first h3 {
    text-align: left;
  }
  span {
    color: #22BFBF;
  }
  small {
    font-size: 20px;
  }
  .sub h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .sub a {
    font-size: 13px;
    color: white;
  }
  
  .sub a:hover {
    color: #22BFBF;
    text-decoration: none;
  }
  .row2 {
    text-align: left;
  }
  
  .row3 p {
    font-size: 11px; 
    margin-left: 20px;
  }
  
  .icon {
    font-size: 22px;
    margin: 10px;
    color: white;
  }
  
  .icon:hover {
    color: #22BFBF;
  }
  img {
  width: 100px;
  }
  
  .partner {
  margin: 5em 0;
  }
  .partner h3 {
    font-size: 20px;
    margin: 1.5em 0;
    padding: 10px 0;
    background-color: #F4FCFC;
    font-weight: bold;
  }

